#createsearch-outtercontainer {
    display: flex;
    align-items: center;
    height: 53px;
}

#createsearch-outtercontainer > div {
    height: 35px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-shadow: 0.8px 0px 0px black;
}

#createsearch-outtercontainer > div:focus {
    border: 1px solid (0, 106, 255);
    background-color: rgb(193, 227, 245);
}

#createsearch-outtercontainer > div:hover {
    background-color: rgb(232, 230, 230);
}

#savesearch-button {
    height: 85%;
    width: 100%;
    border: none;
    background-color: white;
    margin-top: 2px;
}

#savesearch-button:hover {
    cursor: pointer;
}

#createsearch-outtercontainer > input {
    border: none;
}

