#createsearch-outtercontainer {
    display: flex;
    align-items: center;
    height: 53px;
}

#createsearch-outtercontainer > div {
    height: 35px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-shadow: 0.8px 0px 0px black;
}

#createsearch-outtercontainer > div:focus {
    /* background-color: rgb(193, 227, 245); */
}

#savesearch-buttoncontainer {
    background-color: rgb(0, 106, 255);
}

#savesearch-buttoncontainer

#savesearch-button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 106, 255);
    color: white;
    text-shadow: 0.2px 0px 0px white;
    margin-bottom: 2px;
}

/* #savesearch-buttoncontainer:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(47, 47, 219);
} */

#savesearch-button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(47, 47, 219);
}

#createsearch-outtercontainer input {
    margin-right: 1px;
    border: none;
    border-radius: 5px;
    height: 89%;
    padding-left: 15px;
}

#creaetesearch-forsaletext {
    margin-left: 15px;
    margin-right: 15px;
}

#createsearch-searchbar {
    margin-right: 1px;
    border: none;
    border-radius: 5px;
    height: 89%;
    padding-left: 15px;
    width: 200px;
}






