#homeindexitem-outtercontainer {
    height: 280px;
}

#homeindexitem-outtercontainer:hover {
    cursor: pointer;
}

.no-link-underline {
    text-decoration: none;
    color: inherit;
}

#thumbnailphoto {
    max-height: 150px;
    width: 100%;
   
}

#thumbnailphoto-carousel {
    max-height: 150px;
    overflow: hidden;
}

.carousel-status {
    display: none;
}


#homeindexitemheart-container {
    position: absolute;
    top: 9px;
    right: 11.5px;
}

#homeindexitemheart-container-white {
    position: absolute;
    top: 9px;
    right: 11.5px;
}

#homeindexitemheart-container i {
    color: rgba(0, 0, 0, 0.305);
    font-size: 27px;
}

#homeindexitemheart-container-white i {
    color: rgb(255, 255, 255);
    font-size: 27px;
}

#homeindexitemheart-container i:hover {
    color: rgba(0, 0, 0, 0.59);
}

#homeindexitem-heart:hover #homeindexitemheart-container i {
    color: rgba(0, 0, 0, 0.59);
}

#homeindexitem-heart:hover #homeindexitemheart-container-white i {
    color: rgba(255, 255, 255, 0.8); /* Adjusted alpha value for visibility */
}

#homeindexitemheart-border {
    position: absolute;
    top: 5px;
    right: 8px;
}

#homeindexitemheart-border i {
    color: rgb(255, 255, 255);
    font-size: 34px;
}



#homeindexitemprice {
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    text-shadow: 0.3px 0px 0px black;
    font-size: 20px;
}

#homeindexitemdetail-container {
    padding-left: 10px;
    padding-top: 6px;
}

#indexitem-numericaldetails {
   display: flex;
   font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
   font-size: 14px;  
}

#indexitem-numericaldetails div {
   margin: 3px;
}

.homeindexsepbars {
    color: rgb(185, 183, 183);
}

#homeindexitemaddress {
    display: flex;
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    font-size: 14px; 
}

#homeindexitemaddress div {
    margin: 2px;
}
