#chillowmap-outtercontainer {
    overflow: hidden;
    flex-grow: 1;
    margin: 30px;
    height: 800px;
    width: 800px;
    display: flex;
    /* border: 1px solid greenyellow; */
}

#mapmarker {
    font-size: 20px;
    size: 20px;
}