#propertyhome-searchcontainer {
    height: 53px;
    border-bottom: 1px solid lightgrey;
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
}

#propertyhome-mapandindexcontainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 1100px;
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    /* border: 1px solid hotpink; */
}

#prophome-map {
    width: 100%;
}
#prophomeindex-grid {
    /* z-index: -2; */
}
#propertyhome-indexcontainer {
    min-width: 740px;
}

#propertyhome-indexheader {
    width: 100%;
    font-size: 21px;
    padding-left: 15px;
    padding-top: 20px;
    height: 75px;
    text-shadow: 0.7px 0px 0px black;
}