#backgroundphoto-container {
    height: 408px;
    overflow: hidden;
}

#background-image {
    position: relative;
    object-fit: cover;
    height: 408px;
    width: 100%;
    z-index: -1;
}

#mainpage-slogan {
    position: absolute;
    color: white;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
}

#mainpage-searchbar-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainpage-searchbar {
    background-color: rgb(148, 227, 199);
}

